/* Loading Section */
.loading-section {
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  background-color: rgba(20, 28, 30, 0.8);
  text-align: center;
  color: var(--text-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-section h3 {
  font-size: 1.4rem;
  color: var(--accent-color);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 5px;
}

.loading-section p {
  font-size: 1rem;
  color: var(--text-primary);
  margin-top: 15px;
}

.mat-progress-bar {
  height: 8px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
}


/* Wrapper and Layout */
.results-wrapper {
  padding: 30px;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px auto;
  color: var(--text-primary);
  background-color: rgba(20, 28, 30, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Typography */
h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: var(--accent-color);
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  color: var(--accent-color);
  margin: auto;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 5px;
}


/* Summary Section Layout */
.summary-section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
}

.summary-content {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.summary-card {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin: 0 50px;
  padding: 5px 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-card h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.config {
  width: 100%;
}



/* Images Section */
.images-section {
  margin-bottom: 30px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  align-items: start;
}

.image-item {
  box-sizing: border-box;
}

.image-item h4 {
  margin-bottom: 10px;
}

.image-item img {
  width: 100%; /* Take full width of .image-item */
  max-width: 600px; /* Set a max width for larger images */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.image-item img:hover {
  transform: scale(1.05);
}


/* Detailed Results Table */
.detailed-results {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.results-table th, .results-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

.results-table th {
  color: var(--accent-color);
}

.results-table td {
  color: white;
}

/* Buttons */
.results-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

button {
  background-color: var(--accent-color); /* Updated button background */
  color: var(--text); /* Adds a dark overlay */
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-gradient-end);
  color: var(--text-primary);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .summary-cards, .images-container {
    flex-direction: column;
    align-items: center;
  }

  .summary-card, .images-container img {
    width: 80%;
  }
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.modal-image:hover {
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .summary-content {
    flex-direction: column;
    gap: 20px;
  }
}

