.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  background: var(--primary-gradient-start);
  border: 1px solid var(--border-color);
  border-radius: 15px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    label {
      margin-bottom: 5px;
    }

    input {
      padding: 5px;
      border-radius: 5px;
      border: none;
    }

    .error {
      font-size: 12px;
      margin-top: 5px;
      color: red;
    }
  }

  .submit-btn {
    background-color: var(--accent-color);
    color: black;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
  }

  .submit-btn:hover {
    cursor: pointer;
  }

  .submit-btn:disabled {
    background-color: gray;
    cursor: auto;
  }

  .register-link {
    text-decoration: none;
    color: white;
    margin-top: 10px;
  }
}
