<div class="wrapper">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" class="form">
    <div class="form-group">
      <label>Email*</label>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        #emailField="ngModel"
      />
      <div *ngIf="emailField.invalid && emailField.touched" class="error">
        Email is required
      </div>
    </div>

    <div class="form-group">
      <label>Password*</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        #passwordField="ngModel"
      />
      <div *ngIf="passwordField.invalid && passwordField.touched" class="error">
        Password is required
      </div>
    </div>

    <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">Login</button>

    <a [routerLink]="['/register']" class="register-link">Don't have an account? Register now</a>
  </form>
</div>
