<div class="wrapper">
  <h2>Configuration Settings</h2>
  <div class="settings">
  <div class="basic-settings">
    <div class="simulation-type">
      <label for="configType">Select Config Type:</label>
      <select class="form-control mb-3" id="configType" [(ngModel)]="selectedConfigType" name="configType" (ngModelChange)="onConfigTypeChange()">
        <option *ngFor="let type of configTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
    <form [formGroup]="basicSettingsForm">
        <!-- Input for Growth Cone Count -->
        <div class="form-group form-group-basic">
            <label for="gc_count">Growth Cone Count:</label>
            <input type="number" class="form-control" id="gc_count" formControlName="gc_count" placeholder="Enter Growth Cone Count">
        </div>

        <!-- Input for Growth Cone Size -->
        <div class="form-group form-group-basic">
            <label for="gc_size">Growth Cone Radius:</label>
            <input type="number" class="form-control" id="gc_size" formControlName="gc_size" placeholder="Enter Growth Cone Radius">
        </div>

        <!-- Input for Step Size -->
        <div class="form-group form-group-basic">
            <label for="step_size">Step Size:</label>
            <input type="number" class="form-control" id="step_size" formControlName="step_size" placeholder="Enter Step Size">
        </div>

        <!-- Input for Step Number -->
        <div class="form-group form-group-basic">
            <label for="step_num">Step Number:</label>
            <input type="number" class="form-control" id="step_num" formControlName="step_num" placeholder="Enter Step Number">
        </div>
    </form>
  </div>

  <div class="advanced-btn">
      <button id="advanced-btn" (click)="onAdvancedClick()">Advanced</button>
  </div>

  <div class="advanced-settings" *ngIf="isAdvancedSettings">

    <div class="possibility-settings">
      <label class="settings-header">Step Decision</label>

      <form  [formGroup]="possibilitySettingsForm">
        <!-- X Step Possibility Input -->
        <div class="form-group">
          <label for="x_step_possibility">X Step Bias:</label>
          <input type="number" id="x_step_possibility" class="form-control" formControlName="x_step_possibility" placeholder="Enter X Step Bias">
        </div>

        <!-- Y Step Possibility Input -->
        <div class="form-group">
          <label for="y_step_possibility">Y Step Bias:</label>
          <input type="number" id="y_step_possibility" class="form-control" formControlName="y_step_possibility" placeholder="Enter Y Step Bias">
        </div>

        <!-- Sigma Input -->
        <div *ngIf="!possibilitySettingsForm.get('force')?.value" class="form-group">
          <label for="sigma">Standard Deviation:</label>
          <input type="number" id="sigma" class="form-control" formControlName="sigma" placeholder="Enter Standard Deviation">
        </div>

        <!-- Force Checkbox -->
        <div class="form-group form-check force-checkbox">
          <input type="checkbox" id="force" class="form-check-input" formControlName="force">
          <label class="form-check-label" for="force">Accept Every Step</label>
        </div>





      </form>

    </div>


    <div class="adaptation-interaction-container">

      <div class="interaction-settings">
        <label class="settings-header">Potential Calculation</label>


        <form [formGroup]="switchesForm">

          <div class="interaction-switches">

            <!-- Forward Signal Checkbox -->
            <div class="form-group form-check">
              <input type="checkbox" id="forward_sig" class="form-check-input" formControlName="forward_sig">
              <label class="form-check-label" for="forward_sig">Forward Signal</label>
            </div>

            <!-- Reverse Signal Checkbox -->
            <div class="form-group form-check">
              <input type="checkbox" id="reverse_sig" class="form-check-input" formControlName="reverse_sig">
              <label class="form-check-label" for="reverse_sig">Reverse Signal</label>
            </div>


            <!-- FT Interaction Checkbox -->
            <div class="form-group form-check">
              <input type="checkbox" id="ft_inter" class="form-check-input" formControlName="ft_inter">
              <label class="form-check-label" for="ft_inter">FT Interaction</label>
            </div>

            <!-- FF Interaction Checkbox -->
            <div class="form-group form-check">
              <input type="checkbox" id="ff_inter" class="form-check-input" formControlName="ff_inter">
              <label class="form-check-label" for="ff_inter">FF Interaction</label>
            </div>

          </div>

          <!-- Show Sigmoid inputs only if FF Interaction is checked -->
          <div *ngIf="switchesForm.get('ff_inter')?.value" >

            <div class="ff-settings">
              <!-- Sigmoid Steepness Input -->
              <div class="form-group">
                <label for="sigmoid_steepness">FF-Interaction Ramp-Up:</label>
                <input type="number" id="sigmoid_steepness" class="form-control" formControlName="sigmoid_steepness" placeholder="Enter FF-Interaction Ramp-Up">
              </div>

              <!-- Sigmoid Shift Input -->
              <div class="form-group">
                <label for="sigmoid_shift">FF-Interaction Delay:</label>
                <input type="number" id="sigmoid_shift" class="form-control" formControlName="sigmoid_shift" placeholder="Enter FF-Interaction Delay">
              </div>

              <!-- Sigmoid Height Input -->
              <div class="form-group">
                <label for="sigmoid_height">FF-Interaction Maximum:</label>
                <input type="number" id="sigmoid_height" class="form-control" formControlName="sigmoid_height" placeholder="Enter FF-Interaction Maximum">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="adaptation-settings">

        <form [formGroup]="adaptationForm">
          <!-- Adaptation Enabled Checkbox -->
          <div class="settings-header">
            <div class="form-group form-check adaptation-checkbox">
              <input type="checkbox" id="adaptation_enabled" class="form-check-input" formControlName="adaptation_enabled">
              <label class="form-check-label" for="adaptation_enabled">Adaptation</label>
            </div>
          </div>

          <div *ngIf="adaptationForm.get('adaptation_enabled')?.value">
            <!-- Adaptation Mu Input -->
            <div class="form-group">
              <label for="adaptation_mu">Adaptation Coefficient:</label>
              <input type="number" id="adaptation_mu" class="form-control" formControlName="adaptation_mu" placeholder="Enter Adaptation Coefficient">
            </div>

            <!-- Adaptation Lambda Input -->
            <div class="form-group">
              <label for="adaptation_lambda">Resetting Force:</label>
              <input type="number" id="adaptation_lambda" class="form-control" formControlName="adaptation_lambda" placeholder="Enter Resetting Force">
            </div>

            <!-- Adaptation History Input -->
            <div class="form-group">
              <label for="adaptation_history">Adaptation History:</label>
              <input type="number" id="adaptation_history" class="form-control" formControlName="adaptation_history" placeholder="Enter Adaptation History">
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>


  <div class="start-btn">
    <button id="start-btn" (click)="startSimulation()">Start</button>
  </div>

</div>
