<div class="header">
  <nav class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="logo" [routerLink]="['/']">
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="link">About</a>
      </li>
     <li class="list-item">
        <a class="link" [routerLink]="['/simulation']">Simulation</a>
      </li>
      <!-- Papers dropdown -->
      <li class="list-item dropdown">
        <a class="link">Papers</a>
        <ul class="dropdown-list">
          <li><a class="dropdown-link" href="https://journals.biologists.com/dev/article/139/2/335/45409/Balancing-of-ephrin-Eph-forward-and-reverse" target="_blank">Balancing of ephrin/Eph forward and reverse signaling</a></li>
          <li><a class="dropdown-link" href="https://www.sciencedirect.com/science/article/abs/pii/S1084952114002213?via%3Dihub" target="_blank">Chemoaffinity in topographic mapping</a></li>
          <li><a class="dropdown-link" href="https://elifesciences.org/articles/25533" target="_blank">Ephrin-A/EphA specific co-adaptation</a></li>
        </ul>
      </li>
      <li class="list-item">
        <a class="link" href="https://github.com/yavuzkaraca/TopMapper-Web-App" target="_blank" rel="noopener noreferrer">Source Code</a>
      </li>
    </ul>
  </nav>
  <div class="login-btn">
    <span>Login</span>
  </div>
</div>
