<div class="about-container">
  <h1>About TopMapper</h1>

  <p>
    <strong>TopMapper</strong> is a web-based simulation tool designed to model topologic projections and axon guidance
    mechanisms during neural development. Evolving from its original Python-based backend, Top Mapper now offers an
    interactive and accessible interface for researchers to simulate and visualize complex biological processes.
  </p>

  <h2>Getting Started</h2>
  <p>
    To explore TopMapper, head to the <strong>Simulation</strong> tab. Here, you can set up the parameters for your
    simulation and launch it. After the simulation completes, the results will be displayed. If you’re
    interested in modifying the simulation logic, you’ll find an open-source link available. For foundational knowledge
    on the model, visit the <strong>Papers</strong> tab for relevant resources.
  </p>


  <h2>Acknowledgments</h2>
  <p>
    <strong>TopMapper</strong> was developed by <strong>Yavuz Karaca</strong>. special thanks to Dr. Franco Weth from
    KIT's Department of Neurobiology for his foundational research, conceptualization of the model, and continued
    support and guidance throughout the project.
  </p>

  <h2>Contact Us</h2>
  <p>
    For inquiries, feedback, or collaboration opportunities, feel free to contact:
  </p>
  <ul>
    <li>
      <strong>Dr. Franco Weth: </strong> <a href="mailto:franco.weth@kit.edu">franco.weth&#64;kit.edu</a>
    </li>
    <li>
      <strong>Yavuz Karaca: </strong> <a href="mailto:yavkaraca@gmail.com">yavkaraca&#64;gmail.com</a>
    </li>
  </ul>

</div>
