/* You can add global styles to this file, and also import other style files */

html, body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif;
  height: 100%; // Ensure both html and body fill the full height of the viewport
  background-size: cover;
  background:
      /* top, transparent black, faked with gradient */
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      /* bottom, image */
      black url('assets/background.jpg') no-repeat fixed center;
  background-size: cover;
  }


:root {
  --primary-gradient-start: rgba(31,28,44,0.8);
  --primary-gradient-end: rgba(106,150,147,0.8);
  --background-color: rgba(0,0,0,0.7);
  --border-color: rgba(72,65,59,1);
  --accent-color: rgba(255,237,188,1);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --checkbox-color: rgba(52, 73, 94, 1);
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}
